header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #80808022;
    display: flex;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
color: darkslategrey;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}

header nav ul li a:hover {
    background-color: whitesmoke;
}

.flex-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color:gray;
}

.flex-item {
    margin: 10px;
}

div img {
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

div img:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
    color:darkgreen ;
    text-align: center;
}
